<br>
<div class="card cursor-shadow container-with-shade">
  <div class="card-content">
    <div class="content">
      <%= form_with model: article do |form| %>
      <div class="field">
        <%= form.label :title%>
        <div class="control py-3">
          <%= form.text_field :title, class:"input #{"is-danger" if article.errors.key?(:title)}", type: "text", placeholder: "Name"%>
          <% article.errors.full_messages_for(:title).each do |message| %>
          <p class="help is-danger"><%= message %></p>
          <% end %>
        </div>
      </div>

      <div class="field">
        <%= form.label :body%>
        <div class="control py-3">
          <%= form.text_area :body, class: "textarea #{"is-danger" if article.errors.key?(:body)}", placeholder: "Write a minimum of 10 characters"%>
          <% article.errors.full_messages_for(:body).each do |message| %>
          <p class="help is-danger"><%= message %></p>
          <% end %>
        </div>
      </div>

      <%= form.label :status%>
      <div class="field has-addons py-3">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <%= form.select :status, Article::VALID_STATUSES.map {|status| [status.capitalize, status] }, selected: 'Public' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="card-footer">
      <%= form.submit class: "button is-info is-inverted card-footer-item py-2", type: "submit"%>
      <%= link_to "Articles", articles_path, class: "button is-info is-inverted card-footer-item"%>
  </footer>

  <% end %>
</div>
